.mainProductos {
  background: linear-gradient(to bottom, lightblue, rgb(175, 175, 175));
  min-height: 70vh;
}

.btnFormProd {
  background: rgb(170, 43, 193);
  width: 50%;
  height: 20%;
  border-radius: 5px;
  border: none;
  line-height: 4vh;
  color: lightblue;
}

.btnFormProd:hover {
  background-color: rgb(132, 34, 150);
  color: rgb(212, 234, 242);
  transition: 0.5s ease-in-out;
}

.crearProd {
  display: inline-flex;
}

.modalCrearProd {
  background-color: grey;
  border-radius: 5px;
}

.btnCerrarCrearProd {
  background-image: url("../../../img/btnCerrar.png");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.btnEditarP {
  background: rgb(170, 43, 193);
  width: 40%;
  border-radius: 5px;
  border: none;
  line-height: 4vh;
  color: lightblue;
}

.btnEditarP:hover {
    background-color: rgb(132, 34, 150);
    color: rgb(212, 234, 242);
    transition: 0.5s ease-in-out;
  }

.btnEliminarP {
  background-color: rgb(216, 19, 19);
  border-radius: 5px;
  width: 40%;
  border: none;
  line-height: 4vh;
  color: rgb(221, 209, 209);
}

.btnEliminarP:hover {
  background-color: rgb(195, 20, 20);
  color: white;
  transition: 0.5s ease-in-out;
}
