.pagNosotros{
    min-height: 70vh;
    background: linear-gradient(to bottom, lightblue, rgb(175, 175, 175))
}

.contenedorTitNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titNosotros{
 font-size: 5.5vh;
 text-transform: uppercase;
 line-height: 6vh;
}

.mainNos{
    display: flex;
}

.contenedorFoto{
    width: 50%;
    justify-content: start;
    margin: 1%;
}
.fotoNosotros{
    width: 100%;
    border-radius: 3%;
}

.contenedorTextoNos{
    width: 50%;
    margin-left: 1.5vh;
    align-items: end;
    justify-content: center;
    margin: 1%;
}

.textoNos{
    font-size: 3.5vh;
    text-align: center;
    width: 95%;
}